html {
  font-size: 62.5%;
}

.App {
  text-align: center;
}

body {
  margin-left: 0;
  margin-right: 0;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
}

h1 {
  font-size: 2.1rem;
}
h2 {
  font-size: 1.4rem;
}
.sub-text {
  font-size: 1.2rem;
}
.secondary-text {
  font-size: 1.4rem;
}

h1 {
  // TODO: This overrides the font above.
  font-size: 7.2rem;
}
h2 {
  // TODO: This overrides the font above.
  font-size: 6rem;
  padding-top: 80px; // FIXME: This shouldn't be here.
}
h3 {
  font-size: 4.8rem;
}
h4 {
  font-size: 3rem;
}
h5 {
  font-size: 2.4rem;
}

.entry {
  // TODO: From storylist.
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mt-4 {
  // TODO: From bootstrap?
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 45%;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  cursor: pointer;
}

.story-text {
  text-align: center;
  padding: 10px 20px;
}

button {
  background-color: $greenpea;
  color: #fff;
  border-radius: 10px;
  width: 164px;
  height: 44px;
  font-size: 18px;
  margin-top: 10%;
}

button:hover {
  background-color: $bg-shadowgreen;
  color: #000;
}

button:active {
  background-color: $greenpea;
  color: #ffffff;
}

.admin-login {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 50px;
  background: #e5e5e5;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}
.container {
  top: $navbar-height;
  margin-top: $navbar-height;
  display: flex;
  justify-content: center;
}

.container.vertical {
  // For "Submit your story page"
  flex-direction: column;
}

.home-page {
  margin: 0;
  // position: fixed;
  margin-top: $navbar-height; // TODO: Figure out the actual navbar height
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
