html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
}

h1 {
  // TODO: Header size?
  font-size: 2.1rem;
  margin-top: 10rem;
}
h2 {
  // TODO: Header size?
  font-size: 1.4rem;
}
.sub-text {
  font-size: 1.2rem;
}
.secondary-text {
  font-size: 1.4rem;
}

h1 {
  font-size: 7.2rem;
}
h2 {
  font-size: 6rem;
}
h3 {
  font-size: 4.8rem;
}
h4 {
  font-size: 3rem;
}
h5 {
  font-size: 2.4rem;
}

// Working with styles for the LoginForm/StoryCard below:

// .storyList {
//   display: flex;
//   justify-content: space-evenly;
//   border: 5px solid blue;

// }

.entry {
  width: 100%;
  margin: 0 auto;
  // border: 5px solid red;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mt-4 {
  width: 45%;
  // border: 5px solid green;
}

button {
  background-color: $greenpea;
  color: #fff;
  border-radius: 10px;
  width: 164px;
  height: 44px;
  font-size: 18px;
  margin-top: 10%;
}

button:hover {
  background-color: $bg-shadowgreen;
  color: #000;
}

button:active {
  background-color: $greenpea;
  color: #ffffff;
}

.admin-login {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 30px;
  background: #e5e5e5;
  margin: 50px auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}

// Blake is testing some styling below

// .form {
//   font-family: Roboto, sans-serif;
//   margin: 0;
//   padding: 0;
// }

// .form__title {
//   letter-spacing: 1px;
//   font-weight: 600;
// }

// .form__status {
//   color: #666;
//   margin-bottom: 20px;
// }

// .form__label {
//   font-size: .8em;
//   font-weight: bold;
// }

// .form__input {
//    width: 200px;
//   height: 25px;
//   padding-left: 10px;
//   border-radius: 10px;
//   border: 1px solid darkgrey;
// }

// .form__button {
//   width: 100px;
//   height: 25px;
//   border-radius: 10px;
//   color: white;
//   background-color: limegreen;
//   border: 0;
//   cursor: pointer;
//   font-weight: bold;
// }

// .form__button–submitting {
//   background-color: darkgrey;
// }

// .form__button–submitted {
//   background-color: limegreen;
// }

// Blake is testing styling above

// .new-user-form {
//   display: flex;
//   justify-content: center;
//   border: 5px solid red;
//   width: 460px;
//   margin: auto 100px;
//   padding: 32px;
//   font-weight: bold;
//   background-color: rgba(114, 121, 34, 0.9);
//   box-shadow: 2px 2px 10px 10px rgba(0, 0, 0, 0.1);
// }

// .error {
//   margin: 0;
//   position: absolute;
//   color: fushia;
// }

// input {
//   margin-top: 32px;
//   padding: 0.5rem;
//   font-size: 16px;
//   width: 100%;
//   display: block;
//   color: #4d2d52;
//   border: 2px solid rgba(77, 45, 82, 0.8);
// }

// input:focus {
//   border-color: #007eff;
//   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
//     0 0 0 3px rgba(0, 126, 255, 0.1);
//   outline: none;
// }

// input.error {
//   border-color: red;
// }

// label {
//   display: block;
//   margin-bottom: 20px;
// }

// label input {
//   margin-top: 0;
// }

// .input-feedback {
//   color: red;
//   margin-top: 0.25rem;
// }

// button {
//   max-width: 150px;
//   margin: 32px 0;
//   padding: 12px 20px;
//   border-style: none;
//   background-color: #14586b;
//   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
//   font-size: 17px;
//   font-weight: 500;
//   color: #fff;
//   cursor: pointer;
//   outline: none;
//   -webkit-appearance: none;
// }

// button:disabled {
//   opacity: 0.5;
//   cursor: not-allowed !important;
// }

// button + button {
//   margin-left: 0.5rem;
// }

// button.outline {
//   background-color: #eee;
//   border: 1px solid #aaa;
//   color: #555;
// }
