header {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 5rem;
  width: 100vw;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background: $greenpea;
  color: white; // TODO: Figma calls for low-contrast black.

  a {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
  }

  a:active {
    color: white;
  }

  a:hover {
    color: white;
  }

  p {
    padding: 0 1.5rem;
  }
}

nav {

  @media screen and (max-width: $small) {
    // Add hamburger menu
  }

}