.header {
  background: $greenpea;
  color: white;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.header a,
.header li .logout {
  color: white;
  background: $greenpea;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: white;
}

.header li a {
  display: block;
  padding: 20px;
  border-right: 1px solid #aaa; /* Divider */
  text-decoration: none;
}

/* Is this working? */
.header li a:hover,
.header .menu-btn:hover {
  color: $greenpea;
  background: #ddd;
}

.header .logo {
  float: left;
  display: block;
  font-size: 2.6rem;
  padding: 10px 20px;
  text-decoration: none;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

.header .menu-icon { /* surrounds span of nav-icon */
  padding: 28px 20px;
  position: relative;
  float: right;
  cursor: pointer;
  user-select: none; /* ? */
}

.header .menu-icon .nav-icon { /* One line of the hamburger */
  background: white;
  display: block; /* default is inline */
  height: 2px;
  width: 18px;
  position: relative;
  transition: background .2s ease-out;
}

.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after { /* Add hamburger layers */
  background: white;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all .2s ease-out;
}
.header .menu-icon .nav-icon:before {
  top: 5px;
}
.header .menu-icon .nav-icon:after { /* Duplicate hamburger "layer" */
  top: -5px;
}

/* Disappear the checkbox */
.header .menu-btn {
  display: none;
}

/* --- Animate hamburger to X --- */
.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0;
}

// Non-phone size
@media (min-width:$small) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

.logout {
  cursor: pointer;
}