.authorName {
    border: 2px solid #17644a;
    border-radius: 5px;
    color: #E04F56;
    width: 29%;
    height: 20px;
    margin-bottom: 10px;
    padding: 10px;
}

.emailName {
    border: 2px solid #17644a;
    border-radius: 5px;
    color: #E04F56;
    width: 29%;
    height: 20px;
    margin-bottom: 10px;
    padding: 10px;
}

.titleName {
    border: 2px solid #17644a;
    border-radius: 5px;
    color: #E04F56;
    width: 29%;
    height: 20px;
    margin-bottom: 10px;
    padding: 10px;
}

.textName {
    border: 2px solid #17644a;
    border-radius: 5px;
    color: #E04F56;
    width: 29%;
    height: 83px;
    margin-bottom: 10px;
    padding: 10px;
}
.authorBox {
    margin: 0 auto;
    // border: solid red 2px;
    border-radius: 105px;
    padding: 15px;
    width: 90%;
    height: 110px;
}

// .textAreaBox {
//     margin-top: 0px; 
//     margin-bottom: 10px; 
//     height: 83px;
// }