// Colors
$greenpea: #17644a;
$text-mineshaft: #363636;
$text-gray: #898989;
$bg-gallerygray: #f0f0f0;
$bg-shadowgreen: #8cc8b4;
$bg-mineshaft: #202020;

// Breakpoints
$small: 800px;
$medium: 1000px;
$large: 1200px;

// Sizes
$navbar-height: 64px;
