// Colors
$greenpea: #17644A;
$text-mineshaft: #363636;
$text-gray: #898989;
$bg-gallerygray: #F0F0F0;
$bg-shadowgreen: #8CC8B4;
$bg-mineshaft: #202020;

// Breakpoints
$small: 800px;
$medium: 1000px;
$large: 1200px;