@charset 'utf-8';

@import './stylesheets/variables.scss';
@import './stylesheets/base.scss';
@import './stylesheets/header.scss';
@import './stylesheets/review.scss';
@import './stylesheets/submitStory.scss';


.App {
  text-align: center;
}
